@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Bangers&family=Bungee&family=Bungee+Shade&family=Lobster&family=Pacifico&family=Paytone+One&family=Sedgwick+Ave+Display&family=Sigmar+One&display=swap');

body {
  overflow: hidden; /* Hide scrollbars */
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0;
  margin: 0;
  background-position: 50%;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.home-screen {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer-container {
  cursor: pointer;
}

.menu-container {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin: 15px;
  z-index: 1;
}

.popup-content {
  padding: 0 !important;
  width: auto !important;
}